body{
    
    background-color: #444444;
}
img{
margin: 10px;
    border-radius: 100%;
}
h2{color:rgb(201, 190, 190);
    justify-self: start;
    font-size: 1.2rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* letter-spacing: 0.5rem; */
line-height: 2;
}
p{color:grey;
    font-family:cursive;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.card:hover{
    background-color: rgb(247, 99, 99);
}
.card{
    box-shadow: 0px 0px 5px 0px ;
    transition: 0.3s;
    box-sizing:content-box;
    background-color:#444444;
    border: transparent;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
   /* adow: snow; */
    /* margin: auto 42rem; */
    margin-left: 40rem;
    margin-right:40rem;
    padding: 50px;
text-align: center;
}
@media (max-width:1280px) {
    img{
        margin: 0;
    }
    .card{
       margin: auto 11%;
       padding: 10%;
    }
}
